<div class="btn-group btn-group-sm">
    <a class="btn btn-success" href="{{ path('rental_show', {'id': value}) }}"><i
                class="fa fa-eye"></i></a>
    <a class="btn btn-danger" onclick='getItem_id({{ value }})' href="#"
       id="delete_" data-toggle="modal" data-target="#deleteModa"><i
                class="fa fa-trash"></i></a>
</div>