<div class="btn-group btn-group-sm">
    <a class="btn btn-success" href="{{ path('rental_show', {'id': value}) }}"><i
                class="fa fa-eye"></i></a>
    <a class="btn btn-primary" target="_blank" href="{{ path('printrelancepdf', {'id': value}) }}"><i
                class="fa fa-print"></i></a>
</div>