<style>
    @page {
        header: tocHTMLFooterEven; /* display <htmlpageheader name="MyCustomHeader"> on all pages */
        footer: tocHTMLFooterEven; /* display <htmlpagefooter name="MyCustomFooter"> on all pages */

    }
    .col-md-4 {
        position: relative;
        width: 100%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-6 {
        width: 300px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    table {font-family: 'DejaVu Sans Condensed'; font-size: 9pt; line-height: 1.2;
        margin-top: 2pt; margin-bottom: 5pt;
        border-collapse: collapse; }

    thead {	font-weight: bold; vertical-align: bottom; }
    tfoot {	font-weight: bold; vertical-align: top; }
    thead td { font-weight: bold; }
    tfoot td { font-weight: bold; }

    .headerrow td, .headerrow th { background-gradient: linear #b7cebd #f5f8f5 0 1 0 0.2;  }
    .footerrow td, .footerrow th { background-gradient: linear #b7cebd #f5f8f5 0 1 0 0.2;  }

    th {	font-weight: bold;
        vertical-align: top;
        padding-left: 2mm;
        padding-right: 2mm;
        padding-top: 0.5mm;
        padding-bottom: 0.5mm;
    }

    td {	padding-left: 2mm;
        vertical-align: top;
        padding-right: 2mm;
        padding-top: 0.5mm;
        padding-bottom: 0.5mm;
        font-size: 15px;
        text-align: center;
    }

    th p { margin:0pt;  }
    td p { margin:0pt;  }

    table.widecells td {
        padding-left: 5mm;
        padding-right: 5mm;
    }
    table.tallcells td {
        padding-top: 3mm;
        padding-bottom: 3mm;
    }
    .row{
        margin-right: 1px;
        margin-left: 1px;
    }
    .grad{
        border: 1px solid #ffffff;
        background-color: #ffffff;
    }
    h4 {
        font-family: sans;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    div_{
        padding:3px;
    }
    p{
        font-size: 13px;
        margin: 1px;
    }
    .bpmTopic{
        border: #333333 solid 1px;
        width: 100%;
    }
    .headtable{
        background-color: #1e2b37;
        color: #f6fffe;
    }
    .bpmTopic td, .bpmTopic th  {	border-top: 1px solid #333;border-right: 1px solid #333333 }
    .bpmTopicC td, .bpmTopicC th  {	border-top: 1px solid #333; }
    .bpmTopnTail td, .bpmTopnTail th  {	border-top: 1px solid #FFFFFF; }
    .bpmTopnTailC td, .bpmTopnTailC th  {	border-top: 1px solid #FFFFFF; }
</style>
<div class="row">
    <div style="float: left; width: 32%;text-align: left">
        <p style="text-transform: uppercase">Ets Gemo sarl</p>
        <p style="text-transform: uppercase">N° Contrib</p>
        <p style="text-transform: uppercase">P.O BOX</p>
        <p style="text-transform: uppercase">Phone: 237 675066919</p>
    </div>
    <div style="text-align: center;width: 32%;float: left">
        {# <img id="img_emp" style="height: 80px;text-align: center;width: 80px;margin-top: 1px" src="{{ path }}" title="my image"
             alt="My image">#}
        <br>
    </div>
    <div style="float: left; width: 32%;text-align: center">
        {#<p style="text-transform: uppercase">Republic of cameroon</p>
        <p style="text-transform: uppercase">Peace-work-fatherland</p>
        <p style="text-transform: uppercase">Ministry of secondary education </p>#}
    </div>
</div>
{#<p style="text-align: center;margin-top: 2px;font-size: 14px">Entrepot</p>
<p style="text-align: center;margin: 0">Tel: 675896325 Bp:8796</p>#}
<hr>
<p style="margin-bottom:15px;text-transform: uppercase;text-align: center ;font-size: 25px;font-weight: bold;color: #0B7FC7">Contrat de domiciliation commerciale </p>
<p style="text-align: left;margin-top: 2px;font-size: 14px">Entre les soussignés :</p>
<p style="text-align: left;margin: 0"><span style="font-size: 14px;font-weight: bold">La société ………………., ……………(forme juridique)</span> au capital de …………… , dont le siège social est a ………………………………………., immatriculée au Registre du commerce et des sociétés de …………….. sous le n°               , représentée par ………………., dûment habilité à cet effet, </p>

<p style="text-align: left;margin: 0">Ci-après désignée « le domiciliataire »

    D'une part,

    Et</p>
<p style="text-align: left;margin: 0"><span style="font-size: 14px;font-weight: bold">La société ………………., ……………(forme juridique)</span> au capital de …………… , dont le siège social est a ………………………………………., immatriculée au Registre du commerce et des sociétés de …………….. sous le n°               , représentée par ………………., dûment habilité à cet effet, </p>
<p style="text-align: left;margin-top: 5px;font-size: 14px;font-weight: bold;color: #55acee">Dénomination sociale et forme juridique de l'entreprise.</p>
<p style="text-align: left;margin: 0">
    Siège social ....<br>
    Immatriculée sous le n° .... RCS ......<br>
    Représentée par M. ....., agissant en qualité de .....
</p>
<p style="text-align: left;margin: 0">
    Ci-après désignée « le domiciliataire »<br>

    D'autre part<br>

    APRES AVOIR RAPPELE QUE :<br>

    Le domiciliataire dispose d'un immeuble à usage de bureaux situé à Paris 8ème , 8rue lincoln  qu'il exploite en vue de la prestation de services communs aux entreprises.

    <br> Adresse des locaux de domiciliation.<br>
    Cet immeuble est composé de :..........................
    ....................................................
    :
</p>

<p style="text-align: left;margin: 0">
    Description détaillée des locaux et matériels mis à la disposition de l'entreprise domiciliée.
</p>
<p style="text-align: left;margin: 0">
    Les locaux ci-dessus désignés comprennent les équipements suivants :<br>

    par exemple :<br>

    - un bureau de réception et d'accueil ;<br>

    - un standard téléphonique ;<br>

    - une ligne de télécopie ;<br>

    - un appareil de photocopies ;<br>

    - .............<br>
    :
</p>
<p style="text-align: left;margin: 0;font-weight: bold">Description détaillée des services offerts à l'entreprise domiciliée.</p>
<p style="text-align: left;margin: 0">
    IL A ETE CONVENU CE QUI SUIT :<br>
    Article 1 - Objet<br>

    Le présent contrat a pour objet la domiciliation du siège social de l'entreprise domiciliée conformément aux dispositions des articles R 123-167 à R 123-171 du Code de commerce relatifs à la domiciliation des entreprises.
    :<br>
    Description des services : téléphone, courrier, secrétariat, ...<br>
    Article 2 - Prestations<br>

    Le domiciliataire met à la disposition du domicilié, qui accepte, dans l’immeuble désigné en préambule des présetes  :
    <br>
    - un local portant les références suivantes : ..... à usage exclusif de bureaux d'une surface de ..... m2 environ ;
    <br>
    - les services suivants : ....................<br>

    Article 3 - Obligations du domiciliataire<br>

    Le domiciliataire s'engage à :<br>

    - être immatriculé au Registre du Commerce et des sociétés ou au Répertoire des Métiers ;
    <br>
    - mettre à la disposition du domicilié des locaux permettant une réunion régulière des organes chargés de la direction, de l'administration ou de la surveillance de l'entreprise et l'installation des services nécessaires à la tenue, à la conservation et à la consultation des livres, registres et documents prescrits par les lois et règlements ;
    <br>
    - informer le greffe du tribunal, à l'expiration du contrat ou, en cas de résiliation de celui-ci, de la cessation de la domiciliation de l'entreprise dans ses locaux.
    <br>
    Article 4 - Obligations du domicilié<br>

    Le domicilié s'engage à utiliser effectivement et exclusivement les locaux susvisés pour son siège social et à informer le domiciliataire de toute modification de son activité, de sa forme juridique, de son objet et de l'identité des personnes ayant le pouvoir de l'engager.
    <br>
    Article 5 - Mandat<br>

    Le domicilié donne mandat au domiciliataire de recevoir, en son nom, toute notification.<br>

    Article 6 - Durée<br>

    Le présent contrat est consenti pour une durée de ... mois à compter du ....<br>

    Il se renouvellera par tacite reconduction pour une durée de ... mois, sauf résiliation notifiée par l'une des parties par lettre recommandée avec demande d'avis de réception ... mois avant le terme fixé.
    <br>
    Lors de l'expiration du contrat ou en cas de résiliation, le domiciliataire devra informer le Greffe du Tribunal de commerce de .... de la cessation de la domiciliation.
    :<br>
    Compétence du tribunal de commerce du lieu d'immatriculation de l'entreprise domiciliée.<br>
    Article 7 - Redevance<br>

    Le présent contrat est consenti moyennant une redevance mensuelle de .... hors taxes payable d'avance.
    :<br>
    Montant en lettres et en chiffres de la somme correspondant au loyer.<br>
    Article 8 - Dépôt de garantie<br>

    Le domicilié verse, au moment de la signature du présent contrat, la somme de ... euros à titre de dépôt de garantie.
    :<br>
    Montant en lettres et en chiffres de la somme constituant le dépôt de garantie.
    A la fin du contrat, ce dépôt de garantie sera remboursé déduction faite des sommes éventuellement dues au domiciliataire. Il ne dispense pas le domicilié d'acquitter les loyers jusqu'au terme prévu.
    :<br>
    Compétence du tribunal de commerce du siège social de l'entreprise domiciliée.<br>
    Article 9 - Attribution de juridiction<br>

    Tout litige survenant entre les parties relatif à l'exécution du présent contrat sera porté devant le tribunal de commerce de ...
    <br>
    Article 10 - Election de domicile<br>

    Pour l'exécution du présent contrat, les parties élisent domicile à :<br>

    - le domiciliataire : ......<br>

    - le domicilié : .....<br>

    :
</p>
<p style="text-align: left;margin: 0">
    Adresse des parties au contrat.<br>
    Fait à ....<br>
    Le .....<br>
    En .... exemplaires.<br><br><br><br>

    Signature des parties<br>
</p>
<htmlpagefooter name="tocHTMLFooterEven">
    <table width="100%" style="border-top: 1px solid #000000; vertical-align: top; font-family: sans; font-size: 8pt;"><tr>
            <td width="33%"></td>
            <td width="33%" align="center"><span style="font-size:12px;">{PAGENO}/{nbpg}</span></td>
            <td width="33%" style="text-align: right;">{DATE Y-m-d}</td>
        </tr></table>
</htmlpagefooter>{##}

{#
<tocpagebreak paging="on" links="on" toc-odd-header-name="html_tocHTMLHeader" toc-even-header-name="html_tocHTMLHeaderEven" toc-odd-footer-name="html_tocHTMLFooter" toc-even-footer-name="html_tocHTMLFooterEven" toc-odd-header-value="on" toc-even-header-value="on" toc-odd-footer-value="on" toc-even-footer-value="on" toc-preHTML="&lt;h2&gt;Contents&lt;/h2&gt;" toc-bookmarkText="Content list" resetpagenum="1" pagenumstyle="A" odd-header-name="html_myHTMLHeader" odd-header-value="on" even-header-name="html_myHTMLHeaderEven" even-header-value="ON" odd-footer-name="html_myHTMLFooter" odd-footer-value="on" even-footer-name="html_myHTMLFooterEven" even-footer-value="on" outdent="2em" toc-pagenumstyle="i" />
#}